body {
    background: var(--background-color);
}

/*  */
.sobre,
.projetos {
    width: 80%;
    margin: 0 auto;
}

.btn, #btnExibir {
    border-radius: 10px;
    border: 2px solid var(--black);
    padding: 0.5rem;
    cursor: pointer;
    background: transparent;
}

.btn:hover {
    opacity: 0.5;
}

/*  */
.bem-vindo {
    padding: 5.5rem 0;
    margin: 0 2rem;

    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.bem-vindo::after {
    content: "";
    background: #dbdbdb;
    width: 100%;
    height: 100px;
    position: absolute;
    transform: translate(0px, 376px);
}

.minha-foto img {
    width: 350px;
    height: 450px;
    transform: scaleX(-1);
}

.maisInformacoes {
    text-align: left;
}

.email-nome {
    font-weight: bold;
}

.tituloNome {
    font-size: 54px;
    width: 200px;
    text-align: left;
}


/*  */
.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo,
.tituloSobre,
.tituloHabilidades,
.tituloProjetos {
    text-align: center;
    margin: 1.5rem 0;
}

.tituloSobre::after {
    content: "";
    background: black;
    width: 8%;
    height: 2px;
    position: absolute;
    transform: translate(-112px, 31px);
}

.tituloSobre::before {
    content: "";
    background: black;
    width: 6%;
    height: 2px;
    position: absolute;
    transform: translate(19px, 39px);
}

.texto {
    margin: 1rem 0;
}


/*  */
.habilidades {
    margin: 0 auto;
    width: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        ". ."
        ". ."
        ". .";
    gap: 1rem;
}

.tituloHabilidades::after {
    content: "";
    background: black;
    width: 8%;
    height: 2px;
    position: absolute;
    transform: translate(-116px, 31px);
}

.tituloHabilidades::before {
    content: "";
    background: black;
    width: 6%;
    height: 2px;
    position: absolute;
    transform: translate(25px, 39px);
}

.logo-icon {
    border: 1px solid;
    padding: 10px;

    display: flex;
    align-items: center;
}

.logo-icon img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}


/*  */
.projetos {
    padding: 2rem 0;
}

.tituloProjetos::after {
    content: "";
    background: black;
    width: 6%;
    height: 2px;
    position: absolute;
    transform: translate(-86px, 31px);
}

.tituloProjetos::before {
    content: "";
    background: black;
    width: 5%;
    height: 2px;
    position: absolute;
    transform: translate(11px, 38px);
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
}

.projeto-mypizza,
.projeto-mycalc,
.projeto-login,
.projeto-tic-tac-toe {
    text-align: center;
}
.btnExibirMais {
    grid-column: 2;
    margin: 2rem 0;
    border: 1px solid #00000038;
    border-radius: 5px;
    padding: 0.3125rem;
    background: #c87cd5;
    border-bottom-left-radius: 0;
}
.projeto-tic-tac-toe {
    display: none;
    grid-column: 1;
}
.img-login,
.img-mypizza,
.img-mycalc,
.img-tic-tac-toe {
    width: 350px;
    object-fit: contain;
    height: 330px;
}


/*  */
.rodape {
    color: #0f0d0e;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.rodape-informacoes {
    display: flex;
    margin: 0 auto;
    align-items: center;
    font-size: 14px;
    width: 80%;
    height: auto;
    padding: 10px;
    justify-content: space-around;
    line-height: 28px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.span-footer {
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
    padding: 1rem 0;
}

span {
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: var(--black);
}

.links h2 {
    font-family: "Rufina", sans-serif;
    color: var(--black);
}

.links {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-rodape {
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}

.github-nome,
.linkedin-nome,
.email-nome {
    margin-left: 12px;
}

.plataformas li {
    display: flex;
    align-items: center;
}

.headline:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: flash .7s infinite;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}