@media only screen and (min-width: 350px) {
    .home {
        max-width: 450px;
        background-size: 100% 75%;
    }
    .homeText {
        height: 40vh;
    }
}

@media only screen and (max-width: 425px) {
    .home  {
        width: 425px;
        max-width: 500px;
        background-size: 100% 75%;
        max-height: 700px;
    }
    
}

@media only screen and (min-width: 450px) {
    .home  {
        background-size: 100% 62%;
        max-width: 100%;
    }
    .homeText {
        height: 50vh;
        padding-top: 50px;
    }
}

@media only screen and (min-width: 500px) {
    .home {
        max-width: 100%;
    }
} 

@media only screen and (min-width: 660px) {
    main {
        overflow: overlay;
        max-height: 100vh;
    }
    .home {
        background-size: 45% 63%;
        background-attachment: fixed;
        background-position: top left;
        max-width: 350px;
    }
    .homeFooter, main nav {
        display: none;
    }
    main, .page1, .homeNavbar, .page2, .page3, .page4  {
        display: block;
    }

    .titleAbout {
        margin: 32px 0px 32px 10px;
    }
    .aboutMe section {
        margin: 0 auto;
    }
}

@media only screen and (min-width: 720px) {
    .titleAbout {
        margin-left: 32px;
    }
    .home {
        background-size: 45% 63%;
    }

    .page3 {
        margin-bottom: 32px;
    }
    .page3, .page4 {
        height: auto;
        margin-top: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .home { background-size: 41% 63%;}
}

@media only screen and (min-width: 820px) {
    .home { background-size: 39% 63%;}
}

@media only screen and (min-width: 1024px) {
    .home {
        max-width: 320px;
        background-size: 31.1% 59%;
    }
    .projects ul {
        display: inline-flex;
        width: 100%;
        overflow: overlay;
    }
}

@media only screen and (min-width: 1200px) {
    .home {
        background-size: 26.7% 53%;
    }
}

@media only screen and (min-width: 1320px) {
    .home {
        background-size: 24.3% 53%;
    }
}

@media only screen and (min-width: 1400px) {
    body, 
        .projectContainer p, 
        .homeNavbar a, 
        #listLinks, 
        .aboutMe section,
        .homeText p {
        font-size: 16px;
    }
    .home {
        max-width: 350px;
        background-size: 25.2% 55%;
    }
}

@media only screen and (min-width: 1500px) {
    .home {
        background-size: 23.3% 55%;
    }
}

@media only screen and (min-width: 1720px) {
    .home {
        background-size: 19.9% 55%;
    }
}

@media only screen and (min-width: 2000px) {
    .home {
        background-size: 17.5% 55%;
    }
    main {
        max-width: 100vw;
    }
}

@media only screen and (min-width: 2300px) {
    .home {
        background-size: 15.2% 55%;
    }
}

@media only screen and (min-width: 2560px) {
    .home {
        background-size: 13.6% 55%;
    }
}