* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Fim reset */

