@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    background: #191F1F;
    height: 100vh;
    min-width: 320px;
    min-height: 570px;
}
ul, li, a {
    text-decoration: none;
    list-style: none;
}
h4 {
    font-size: 18px;
}
/* Fim reset */
.techs, .projects {
    color: #fff;
}
.topic, .projectContainer button, .btnSubmit button {
    cursor: pointer;
}


.home {
    height: 91vh;
    background-color: #E5E1DE;
    min-width: 320px;
    width: 100%;
    position: relative;
}
.myPhoto {
    min-width: 280px;
    width: 100%;
    max-width: 500px;
    max-height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.homeText {
    background: #191F1F;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    left: 10%;
}
.homeText h2 {
    color: #DFDAD6;
    font-size: 30px;
    font-weight: 400;
    font-family: Rufina, sans-serif;
    margin: 0px 0px 16px 32px;
}
.homeText p {
    margin-left: 32px;
    font-weight: 400;
    font-size: 14px;
    min-width: 320px;
    height: 50px;
} 
.homeFooter {
    background-color: #DFDAD6;
    border-radius: 50%;
    max-width: 80px;
    max-height: 80px;
    width: 60px;
    height: 60px;
    margin: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
}
.homeFooter img {
    max-width: 50px;
    max-height: 50px;
    width: 32px;
    height: 32px;
}
.homeNavbar {
    position: fixed;
    top: 50%;
}
.homeNavbar li {
    padding: 8px;
    text-align: left;
    padding-left: 8px;
    background-color: #DFDAD6;

    display: flex;
    align-items: center;
    gap: 1rem;
}
.homeNavbar a {
    color: #fff;
    font-size: 14px;
}
.homeNavbar a > span {
    display: none;

}
.homeNavbar img {
    width: 20px;
    height: 20px;
}


main {
    font-family: 'Lato', sans-serif;
    min-width: 320px;
    
/*     display: none; */
}
.page1, .page2 {
    min-width: 320px;
}


main nav {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: #262E31;
    min-width: 320px;
    width: 100%;
    z-index: 2;
}
#listLinks {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    font-size: 14px;
    justify-content: space-between;
}
.linksAnimation {
    padding: 8px;
    border-radius: 50%;

    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linksAnimation img {
    width: 25px;
    height: 25px;
}
.ocultName {
    
    position: absolute;
    top: -20px;
}
/* .linksAnimation:hover .ocultName {
    display: block;
} */


.aboutMe {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    max-width: 1250px;
}
.titleAbout {
    margin: 32px 0px 32px 50px;
}
.aboutMe section {
    width: 80%;
    font-size: 14px;
    margin-left: 50px;
}
.aboutMe p:nth-child(3) {
    margin-top: 1rem;
    font-weight: bold;
}
.titleName {
    margin-bottom: 8px;
}
#chartDiv {
    margin-left: 50px;
}


.projects h3 {
    margin: 32px 0px 32px 50px;
    font-weight: 400;
}

.projects ul::-webkit-scrollbar {
    height: 15px;
}
.projects ul::-webkit-scrollbar-track {
    background-color: #d9d9d9;
}
.projects ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 2px solid rgb(38, 46, 49, 0.5);
}
.info {
    display: flex;
    justify-content: center;
    color: #a9a9a9;
}
.projectsList {
    margin-bottom: 50px;
    min-width: 280px;
}
.nameProject {
    margin: 0px 0px 16px 50px;

}
.project {
    margin-left: 50px;
}
.listProject {
    display: flex;
    flex-wrap: wrap;
}
#showSection {
    min-width: 260px;
    min-height: 260px;
    max-width: 450px;
    max-height: 350px;
    width: 100%;
    height: 100vh;
}
.headerproject {
    padding: 8px;
    display: flex;
    align-items: center;
}
.projectImage img {
    width: 100%;
    height: auto;
}
.closeBtn {
    background: #262E31;
    border: none;
    border-radius: 11px;
    max-width: 32px;
    max-height: 32px;
    padding: 5px;
}
.closeImg {
    width: 80%;
    height: 80%;
}
.nameProjectTitle {
    padding: 32px 0px 0px 32px;
    font-family: Rufina, sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 100px;
    margin-bottom: 16px;
}
.topics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.topic {
    background: #e5e1de;
    color: #000;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    margin: 12px 0;
}
.topic:hover, button:hover, .projectContainer button:hover {
    background: #191f1f;
    color: white;
    border: 2px solid white;
}
.projectContainer button {
    width: 50%;
    height: auto;
    max-width: 250px;
    max-height: 70px;
    padding: 16px;
    font-size: 14px;

    background: #e5e1de;
    border-radius: 9px;
    border: none;
    font-weight: bold;
}


.contact h3 {
    margin: 32px 0px 24px 40px;
    font-weight: 400;
    color: #fff;
}
.contactForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 280px;
    margin-left: 42px;
}
.contactForm input, .contactForm textarea {
    padding: 8px;
    background-color: #D9D9D9;
    color: #000;
    border: none;
}
.contactForm input:focus,.contactForm textarea:focus {
    outline: none;
    border: 1px solid #fff;
}
.contactForm label {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
}
.btnSubmit {
    margin-top: 8px;
}
.btnSubmit button {
    width: 50%;
    padding: 8px;
    font-weight: bold;
}


.footer {
    margin-top: 50px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    height: 200px;
}
.footerHeader {
    display: inline-flex;
    align-items: center;
}
.footerContainer {
    text-align: center;
}
.social img {
    width: 32px;
    height: 32px;
}
