.homeTextThanks {
    background: #191F1F;
    color: #fff;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    left: 10%;
}
.homeTextThanks h2 {
    color: #DFDAD6;
    font-size: 30px;
    font-weight: 400;
    font-family: Rufina, sans-serif;
    margin: 16px 32px;
}
.homeTextThanks p {
    margin-left: 32px;
    font-weight: 400;
    font-size: 14px;
    min-width: 320px;
    height: 50px;
} 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    height: 150px;
}

.footerThanks {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 4rem;
    height: 200px;
}
.footerHeader {
    display: inline-flex;
    align-items: center;
}
.footerContainer {
    text-align: center;
}
.social img {
    width: 32px;
    height: 32px;
}