@media only screen and (min-width: 425px) {
    .img-mypizza, .img-mycalc {
        height: auto;
        width: 60%;
        max-width: 550px;
        margin: 0 auto;
        display: flex;
    }
    .rodape-informacoes {
        flex-direction: row;
    }
    .informacoes {
        align-items: flex-start;
    }
    .links {
        margin: 0 1rem;
    }
    .habilidades {
        width: 350px;
    }
    .sobre {
        width: 350px;
    }
    .minhas-informacoes {
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    .habilidades, .sobre {
        width: 400px;
    }
    section.linksUteis {
        margin: 0;
    }
    .bem-vindo p {
        text-align: start;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
        width: 350px;
        height: 400px;
        object-fit: cover;
        object-position: top;
        border: 3px solid #805d6f;
    }
    .grid {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
/*     .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: space-between;
        align-items: center;
        gap: 3rem;
    } */
    .bem-vindo {
        display: flex;
        align-items: center;
        gap: 0;
        margin: 0 auto;
        padding: 3rem 0;
    }
    .bem-vindo section {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 350px;
        display: block;
    }
    .minhas-informacoes {
        gap: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* padding: 3rem 0; */
    }
    .projeto-login, .projeto-mypizza, .projeto-mycalc {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-login, .img-mypizza, .img-mycalc {
        width: 50%;
        object-fit: contain;
        height: 480px;
    }
    .informacoes-projeto {
        width: 50%;
        height: 480px;

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .contato {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        gap: 1rem;
    }
}

/* Large Screen */
@media only screen and (min-width: 1200px) {
    body {
        font-size: 16px;
    }
    .btn-scroll-top {
        top: 93%;
    }
    .texto {
        width: 550px;
    }
    .habilidades, .sobre {
        width: 400px;
    }
    .minhas-informacoes {
        justify-content: center;
    }
}

@media only screen and (min-width: 1400px) {
    .links {
        margin: 0 30px;
    }
}

@media only screen and (min-width: 2560px) {
    body, .links-rodape, .plataformas {
        font-size: 18px;
    }
    span, div {
        font-size: 16px;
    }
    .contato {
        gap: 0;
        justify-content: space-evenly;
    }
    .minhas-informacoes {
        gap: 5rem;
        justify-content: center;
    }
    .habilidades {
        max-width: 550px;
        width: 420px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sobre {
        max-width: 550px;
        width: 100%;
    }
    .links {
        margin: 0 2rem;
    }
    .rodape {
        height: auto;
        padding: 1rem 0;
    }
}