* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    background: #f7f7f7;
    font-family: "Roboto", sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 20px;
}

h1,
h2 {
    margin: 1rem 0;
}

span {
    text-align: center;
    font-size: 17px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-img,
.quem-sou,
.bem-vindo>section:nth-child(1) {
    margin: 0 0.8rem;
}

/* Scroll */
::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

::-webkit-scrollbar {
    width: 8px;
    background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    background: #805d6f;
}
/* Scroll */
.btn-scroll-top {
    border: 2px solid #000;
    border-radius: 2rem;
    width: 3.5rem;
    height: 6rem;

    position: fixed;
    right: 2%;
    top: 87%;

    background: gba(255, 255, 255, 0.746);

    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
}
.scroll-top-img {
    width: 50%;
    /* margin-top: 35%; */
    margin-left: 25%;
}
.btn-scroll-visible {
    visibility: visible;
    opacity: 1;
}

/* Header */
header {
    background: #ffffff;
}

.navegacao {
    margin: 0 auto;
    max-width: 1250px;
    padding: 10px;
}

.link {
    display: inline-block;
    margin-block: 2px;
    position: relative;
}

.link::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #805d6f;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link:hover::after {
    transform: scaleX(1);
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: none;
}

/* Container */
.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.minhaFoto {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #94848d;
    margin: 1rem;
}

/* Seção bem vindo */
.bem-vindo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    max-width: 1250px;
    width: 100%;
}

.btnAcessar,
.btnEnviar {
    width: 150px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: #ad84ab;
    border-radius: 15px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 1s;
}

.btnAcessar:hover,
.btnEnviar:hover {
    background: #947292;
}

/* Seção minhas-informacoes */
.minhas-informacoes {
    display: flex;
    margin: 3rem 0;
}
.quem-sou, .formacao {
    width: 30vw;
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
}
#quemSou, #formacao {
    padding-bottom: 20px;
    cursor: pointer;
    background: #805d6f;
    padding: 15px;
    color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.texto {
    display: none;
    padding: 20px;
    background: white;
}
.block {
    display: block;
}

/* Seção projetos */
.meus-projetos {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.meus-projetos h1 {
    margin: 1rem 0.8rem;
}

.projetos {
    min-width: 100%;
    scroll-snap-align: start;
    background: #94848d;
    color: white;
    width: 100vw;
    height: auto;
    max-height: 70vh;
    margin: 3rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-img {
    width: 450px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.portfolio-img {
    width: 450px;
    height: 400px;
    border-radius: 5px;
}

.projeto {
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
}

.informacoes-img {
    display: flex;
    width: 550px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

/* Seção contato */
.contato {
    background: white;
    padding: 20px;
    width: 650px;
    height: 500px;
    margin: 3rem 0;
}

.contato-form {
    margin: 2rem 0;
}

input,
textarea {
    width: 100%;
    padding: 8px 8px;
    margin: 16px 0;
    border: none;
    border-bottom: 2px solid #94848d;
    /* background: #94848d; */
    font-size: 14px;
}

input[type=text] {
    height: 100px;
}

input:focus,
textarea:focus {
    outline: none;
}

/* Rodapé */
.rodape-informacoes {
    background: #94848d;
    width: 100%;
    max-width: 1250px;
    display: flex;
    margin: 0 auto;
    gap: 2rem;
    align-items: center;
}

.rodape {
    background: #94848d;
    color: #0f0d0e;
    width: 100vw;
    height: 23vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.links h2 {
    margin: 0 0 10px;
    font-size: 24px;
    font-family: "Rufina", sans-serif;
}

.links {
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-rodape {
    line-height: 30px;
    text-align: center;
    font-weight: 500;
}

.github-nome,
.linkedin-nome,
.email-nome {
    margin-left: 12px;
}

.informacoes {
    margin: 0 0.8rem;
}

.plataformas li {
    display: flex;
    align-items: center;
}

.headline:after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: flash .7s infinite;
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/* Responsividade */